In [8]:
import pandas as pd
import numpy as np

In [9]:
d={'1':[3,3,6,3,3,1],'2':[3,1,7,4,4,3],'3':[1,4,3,1,1,3],'4':[4,5,4,1,1,3]}
d

{'1': [3, 3, 6, 3, 3, 1],
 '2': [3, 1, 7, 4, 4, 3],
 '3': [1, 4, 3, 1, 1, 3],
 '4': [4, 5, 4, 1, 1, 3]}

In [10]:
df=pd.DataFrame(d)
df

   1  2  3  4
0  3  3  1  4
1  3  1  4  5
2  6  7  3  4
3  3  4  1  1
4  3  4  1  1
5  1  3  3  3

In [11]:
# l=df.index[df['1']==3].tolist()
# l

In [12]:

# for i in range(1,4):
#     d=l[i]-l[i-1]
#     print(d)

In [16]:

l1=df.columns.tolist()
l1

['1', '2', '3', '4']

In [21]:
for col in l1:
    diff=[]
    l=df.index[df[col]==3].tolist()
    #print(l)
    size=len(l)
    #print(size)
    if size == 1:
        print("Column {} max difference between two three is {}".format(col,0))
    else:
        for i in range(1,size):
            diff.append(l[i]-l[i-1])
            #print(diff)
            #print(max(diff))
        print("Column {} max difference between two three is {}".format(col,max(diff)-1))

Column 1 max difference between two three is 1
Column 2 max difference between two three is 4
Column 3 max difference between two three is 2
Column 4 max difference between two three is 0

In [22]:
df

   1  2  3  4
0  3  3  1  4
1  3  1  4  5
2  6  7  3  4
3  3  4  1  1
4  3  4  1  1
5  1  3  3  3